@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: #d6e2f0;
}

/* Content */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    background: #fff;
    max-width: 75%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-container img {
    max-width: 100%;
    border-radius: 20px;
}

.main-container h1 {
    color: #1f3251;
    padding: 0px 12px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.main-container p {
    color: #68778d;
    padding: 0px 12px;
    margin: 20px 0px;
    font-weight: 400;
}

@media (min-width: 550px) {
    .main-container {
        max-width: 325px;
    }
}


/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }